## Version 2023/02/09 - Changelog: https://github.com/linuxserver/docker-swag/commits/master/root/defaults/nginx/authelia-server.conf.sample
# Make sure that your authelia container is in the same user defined bridge network and is named authelia
# Rename /config/nginx/proxy-confs/authelia.subdomain.conf.sample to /config/nginx/proxy-confs/authelia.subdomain.conf
# Make sure that the authelia configuration.yml has 'path: "authelia"' defined

# location for authelia subfolder requests
location ^~ /authelia {
    auth_request off; # requests to this subfolder must be accessible without authentication
    include /config/nginx/proxy.conf;
    include /config/nginx/resolver.conf;
    set $upstream_authelia authelia;
    proxy_pass http://$upstream_authelia:9091;
}

# location for authelia auth requests
location = /authelia/api/verify {
    internal;

    include /config/nginx/proxy.conf;
    include /config/nginx/resolver.conf;
    set $upstream_authelia authelia;
    proxy_pass http://$upstream_authelia:9091/authelia/api/verify;

    ## Include the Set-Cookie header if present.
    auth_request_set $set_cookie $upstream_http_set_cookie;
    add_header Set-Cookie $set_cookie;

    proxy_pass_request_body off;
    proxy_set_header Content-Length "";
}

# Virtual location for authelia 401 redirects
location @authelia_proxy_signin {
    internal;

    ## Set the $target_url variable based on the original request.
    set_escape_uri $target_url $scheme://$http_host$request_uri;

    ## Include the Set-Cookie header if present.
    auth_request_set $set_cookie $upstream_http_set_cookie;
    add_header Set-Cookie $set_cookie;

    ## Set $authelia_backend to route requests to the current domain by default
    set $authelia_backend $http_host;
    ## In order for Webauthn to work with multiple domains authelia must operate on a separate subdomain
    ## To use authelia on a separate subdomain:
    ##  * comment the $authelia_backend line above
    ##  * rename /config/nginx/proxy-confs/authelia.conf.sample to /config/nginx/proxy-confs/authelia.conf
    ##  * make sure that your dns has a cname set for authelia
    ##  * uncomment the $authelia_backend line below and change example.com to your domain
    ##  * restart the swag container
    #set $authelia_backend authelia.example.com;

    return 302 https://$authelia_backend/authelia/?rd=$target_url;
}
