## Version 2026/09/08 - Changelog: https://github.com/linuxserver/docker-swag/commits/master/root/defaults/nginx/tinyauth-server.conf.sample
# Make sure that your tinyauth container is in the same user defined bridge network and is named tinyauth
# Rename /config/nginx/proxy-confs/tinyauth.subdomain.conf.sample to /config/nginx/proxy-confs/tinyauth.subdomain.conf

# location for tinyauth auth requests
location /tinyauth {
    internal;

    include /config/nginx/resolver.conf;
    set $upstream_tinyauth tinyauth;
    proxy_pass http://$upstream_tinyauth:3000/api/auth/nginx;

    # Don't send the body to the auth server
    proxy_pass_request_body off;
    proxy_set_header Content-Length "";

    # Headers needed for authentication
    proxy_set_header X-Original-URL $scheme://$http_host$request_uri;
    proxy_set_header X-Real-IP $remote_addr;

    # Not needed by Tinyauth right now but may be needed in the future
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Original-Method $request_method;
}
